<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper" style="display: flex">
      <div class="footer-col" style="flex: 0">
        <p style="font-size:xx-large">Disclaimer:</p>
      </div>
      <div class="footer-col" style="flex: 1">
        <p style="font-size:smaller">English is not our native tongue. Any ephemeral judgment you might get from philosophical, linguistic or style analysis is more than likely to be invalid. We are not affiliated with any bot developers, have no patreon account and do not accept donations in any way.<!-- <a href="https://discord.com/channels/500415557800296449/500415558257344514/1006109048531333162" target="_blank" rel="noopener noreferrer">MiniMiez is a naughty liar</a>.--></p>
        <p style="font-size: xx-small; color: #bbb; letter-spacing: -1px; float: right; text-align: right">22 16 1 3 1 &emsp; 24 15 21 1 13 18 12</p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
    </div>
  </div>
</footer>
