<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <h6>English is not our native tongue. Any ephemeral judgment you might get from philosophical, linguistic or style analysis is more that likely to be invalid.</h6>
    <h6>We are not affiliated with any bot developers, have no patreon account and do not accept donations in any way. <a href="https://discord.com/channels/500415557800296449/500415558257344514/1006109048531333162" target="_blank" rel="noopener noreferrer">MiniMiez is a naughty liar</a>.</h6>
    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
    </div>
  </div>
</footer>
